@import "common/variables.scss";

.xr-test {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  background: $--color-primary;
  color: white;
}